<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTDMapper3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bit.gangnam.dao.EmpMapper">
	<select id="getEmpList" resultType="com.bit.gangnam.beans.Emp">
		select empno, ename, job, mgr from emp
	</select>
	<select id="getEmp" parameterType="int" resultType="com.bit.gangnam.beans.Emp">
		select empno, ename, job, mgr from emp where empno = #{empno}
	</select>
	<update id="updateEmp" parameterType="com.bit.gangnam.beans.Emp">
		update emp set ename = #{ename}, job = #{job}, mgr = #{mgr} where empno = #{empno}
	</update>
	<insert id="insertEmp" parameterType="com.bit.gangnam.beans.Emp">
		insert into emp(empno, ename, job, mgr) values(#{empno},#{ename},#{job},#{mgr})
	</insert>
</mapper>